In [66]:
import pandas as pd
import datetime 
import matplotlib.pyplot as plt
import numpy as np

In [67]:
meteo = pd.read_excel("meteo_2017_2022.xlsx")
itk_SD = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="SD")
itk_PN = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="PN")
itk_ref = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="Ref")
itk_BI = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="BasInt")
itk_Bio = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="Bio")
itk_Elev = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="Elev")
ntraj = pd.read_excel("Data_NTraj.xlsx")

In [68]:
meteo.head()

,Date,Mois,Année,Temp moyenne (°C),Pluie (mm),Temp min,Temp max,ETP Penman (mm),Humidité moyenne (%),Humidité max (%),Humidité min (%)
0,2017-09-15,9,2017,11.2,0.0,7.6,16.5,2.3,84.0,99.0,56.0
1,2017-09-16,9,2017,10.7,1.0,4.8,15.6,1.6,86.0,100.0,57.0
2,2017-09-17,9,2017,11.3,3.0,9.4,15.7,1.5,89.0,100.0,66.0
3,2017-09-18,9,2017,10.5,9.0,4.4,17.1,1.6,91.0,100.0,70.0
4,2017-09-19,9,2017,11.7,2.0,9.2,16.8,1.7,88.0,99.0,60.0

In [69]:
itk_SD.head()

,Culture princ.,Année,Date,Semaine,Peuplement,Type d'opération,Type_1,Info complémentaire 1,Quantité_1,Unité_1,...,Unité_3,% concerné_3,Type_4,Quantité_4,Unité_4,% concerné_4,Type_5,Quantité_5,Unité_5,% concerné_5
0,Blé,2017-2018,2017-10-05 00:00:00,40.0,Sol nu,OC_Semis,Semoir Semeato,Semé par Christian,1,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blé,2017-2018,2017-10-05 00:00:00,40.0,Sol nu,Ajout_semence,Traité,Boregar,220,gr./m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Blé,2017-2018,2017-10-05 00:00:00,40.0,Sol nu,Ajout_phyto,Traitement de semence,Gaucho,NaN,Dose hom.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Blé,2017-2018,2017-10-08 00:00:00,40.0,Sol nu,OC_Travail,Roulage 9m – tract 130 ch,NaN,1,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Blé,2017-2018,2017-10-31 00:00:00,44.0,Blé,OC_Autre,Traitement phyto - Pulve 3400 litres,NaN,1,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
ntraj.head()

,Bande,Date,%H - h1,%H - h2,NO3 Sol - h1\nkgN.ha-1,NO3 Sol - h2\nkgN.ha-1,NH4 Sol - h1\nkgN.ha-1,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
0,Elev8,2017-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACS,2018-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Toutes,2018-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Toutes,2018-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACS,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,13.119371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
print(meteo.shape)
print(itk_SD.shape)
print(ntraj.shape)

(1749, 11)
(1036, 31)
(2871, 17)

### ITK

In [72]:
## On retire les colonnes vides/inutiles des itk
itk_SD.drop(itk_SD.columns[11:], axis=1, inplace=True)
itk_PN.drop(itk_PN.columns[11:], axis=1, inplace=True)
itk_BI.drop(itk_BI.columns[11:], axis=1, inplace=True)
itk_Bio.drop(itk_Bio.columns[11:], axis=1, inplace=True)
itk_Elev.drop(itk_Elev.columns[11:], axis=1, inplace=True)
itk_ref.drop(itk_ref.columns[11:], axis=1, inplace=True)

In [73]:
print(itk_SD.Date.dtypes)
itk_SD["Date"] = itk_SD["Date"].astype("string")
## Problème d'une date mal rentrée, on l'enlève et on change le type
itk_SD = itk_SD[~itk_SD["Date"].str.contains("xx")]
itk_SD["Date"] = itk_SD["Date"].astype("datetime64")
print(itk_SD.Date.dtypes)

object
datetime64[ns]

In [74]:
itk_PN.dtypes

Culture princ.                   object
Année                            object
Date                     datetime64[ns]
Semaine                         float64
Peuplement                       object
Type d'opération                 object
Type_1                           object
Info complémentaire 1            object
Quantité_1                      float64
Unité_1                          object
% concerné_1                    float64
dtype: object

In [75]:
## Changement du type object en type str pour en faciliter le traitement (regex, split)

itk_SD[itk_SD.select_dtypes("object").columns] = itk_SD[itk_SD.select_dtypes("object").columns].astype("string")
itk_PN[itk_PN.select_dtypes("object").columns] = itk_PN[itk_PN.select_dtypes("object").columns].astype("string")
itk_BI[itk_BI.select_dtypes("object").columns] = itk_BI[itk_BI.select_dtypes("object").columns].astype("string")
itk_Bio[itk_Bio.select_dtypes("object").columns] = itk_Bio[itk_Bio.select_dtypes("object").columns].astype("string")
itk_Elev[itk_Elev.select_dtypes("object").columns] = itk_Elev[itk_Elev.select_dtypes("object").columns].astype("string")
itk_ref[itk_ref.select_dtypes("object").columns] = itk_ref[itk_ref.select_dtypes("object").columns].astype("string")

In [76]:
itk_SD.dtypes

Culture princ.                   string
Année                            string
Date                     datetime64[ns]
Semaine                         float64
Peuplement                       string
Type d'opération                 string
Type_1                           string
Info complémentaire 1            string
Quantité_1                       string
Unité_1                          string
% concerné_1                    float64
dtype: object

In [77]:
# On retire les informations inutiles/répétitives

itk_SD = itk_SD[~itk_SD["Type d'opération"].str.contains("Ajout")]
itk_PN = itk_PN[~itk_PN["Type d'opération"].str.contains("Ajout")]
itk_BI = itk_BI[~itk_BI["Type d'opération"].str.contains("Ajout")]
itk_Bio = itk_Bio[~itk_Bio["Type d'opération"].str.contains("Ajout")]
itk_Elev = itk_Elev[~itk_Elev["Type d'opération"].str.contains("Ajout")]
itk_ref = itk_ref[~itk_ref["Type d'opération"].str.contains("Ajout")]

itk_SD = itk_SD[~itk_SD["Type d'opération"].str.contains("Autre")]
itk_PN = itk_PN[~itk_PN["Type d'opération"].str.contains("Autre")]
itk_BI = itk_BI[~itk_BI["Type d'opération"].str.contains("Autre")]
itk_Bio = itk_Bio[~itk_Bio["Type d'opération"].str.contains("Autre")]
itk_Elev = itk_Elev[~itk_Elev["Type d'opération"].str.contains("Autre")]
itk_ref = itk_ref[~itk_ref["Type d'opération"].str.contains("Autre")]

In [351]:
itk_SD = itk_SD.drop("Info complémentaire 1", axis=1)
itk_PN = itk_PN.drop("Info complémentaire 1", axis=1)
itk_BI = itk_BI.drop("Info complémentaire 1", axis=1)
itk_Bio = itk_Bio.drop("Info complémentaire 1", axis=1)
itk_Elev = itk_Elev.drop("Info complémentaire 1", axis=1)
itk_ref = itk_ref.drop("Info complémentaire 1", axis=1)

In [352]:
# On indique le nom des bandes pour pouvoir savoir à quoi elles correspondent une fois qu'on va merge par dates

itk_SD["Bande"] = "ACS"
itk_PN["Bande"] = "PN"
itk_BI["Bande"] = "BI"
itk_Bio["Bande"] = "Bio"
itk_Elev["Bande"] = "Elev"
itk_ref["Bande"] = "Ref"

### Ntraj

In [353]:
# % de na par colonnes

ntraj.isna().sum(axis=0)/len(ntraj)

Bande                                 0.000000
Date                                  0.000000
%H - h1                               0.674119
%H - h2                               0.674119
NO3 Sol - h1\nkgN.ha-1                0.674119
NO3 Sol - h2\nkgN.ha-1                0.674119
NH4 Sol - h1\nkgN.ha-1                0.674119
NH4 Sol - h2\nkgN.ha-1                0.674119
N2O gN.ha-1.j-1                       0.668960
Fertilisation (kgN.ha-1)              0.947549
N biomasse aérienne\n (KgN.ha-1)      0.944110
INN ou N Tester                       0.785039
INN ou N Tester ZéroN                 0.864144
PRS N-NO3\n(µg.10cm-2.14j-1)          0.654342
PRS N-NH4\n(µg.10cm-2.14j-1)          0.654342
PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1)    0.927773
PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)    0.927773
dtype: float64

In [137]:
print(ntraj.dtypes)

## On passe Bande en str pour faciliter le traitement

ntraj["Bande"] = ntraj["Bande"].astype("string")
print(ntraj.dtypes)

Bande                                         string
Date                                  datetime64[ns]
%H - h1                                      float64
%H - h2                                      float64
NO3 Sol - h1\nkgN.ha-1                       float64
NO3 Sol - h2\nkgN.ha-1                       float64
NH4 Sol - h1\nkgN.ha-1                       float64
NH4 Sol - h2\nkgN.ha-1                       float64
N2O gN.ha-1.j-1                              float64
Fertilisation (kgN.ha-1)                     float64
N biomasse aérienne\n (KgN.ha-1)             float64
INN ou N Tester                              float64
INN ou N Tester ZéroN                        float64
PRS N-NO3\n(µg.10cm-2.14j-1)                 float64
PRS N-NH4\n(µg.10cm-2.14j-1)                 float64
PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1)           float64
PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)           float64
dtype: object
Bande                                         string
Date                                  datetime64[ns]
%H - h1                                      float64
%H - h2                                      float64
NO3 Sol - h1\nkgN.ha-1                       float64
NO3 Sol - h2\nkgN.ha-1                       float64
NH4 Sol - h1\nkgN.ha-1                       float64
NH4 Sol - h2\nkgN.ha-1                       float64
N2O gN.ha-1.j-1                              float64
Fertilisation (kgN.ha-1)                     float64
N biomasse aérienne\n (KgN.ha-1)             float64
INN ou N Tester                              float64
INN ou N Tester ZéroN                        float64
PRS N-NO3\n(µg.10cm-2.14j-1)                 float64
PRS N-NH4\n(µg.10cm-2.14j-1)                 float64
PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1)           float64
PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)           float64
dtype: object

In [354]:
## On va mettre les bandes XXX, Toutes et Elev8 à part pour le moment 

ntraj_XXX = ntraj[ntraj.Bande.str.contains("XXX")]
ntraj_Toutes = ntraj[ntraj.Bande.str.contains("Toutes")]
ntraj_Elev8 = ntraj[ntraj.Bande.str.contains("Elev8")]

ntraj = ntraj[~ntraj.Bande.str.contains("XXX|Toutes|Elev8")]

In [355]:
ntraj.head()

,Bande,Date,%H - h1,%H - h2,NO3 Sol - h1\nkgN.ha-1,NO3 Sol - h2\nkgN.ha-1,NH4 Sol - h1\nkgN.ha-1,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
1,ACS,2018-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACS,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,13.119371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BI,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,0.828995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BIO,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,0.622160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Elev,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,0.956829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merging

In [356]:
m_ntraj = meteo.merge(ntraj, on="Date")

In [357]:
m_ntraj.head()

,Date,Mois,Année,Temp moyenne (°C),Pluie (mm),Temp min,Temp max,ETP Penman (mm),Humidité moyenne (%),Humidité max (%),...,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
0,2018-03-06,3,2018,7.2,3.5,4.7,11.3,1.1,89.0,96.0,...,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-08,3,2018,6.0,5.5,4.0,9.3,0.9,94.0,98.0,...,NaN,13.119371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-08,3,2018,6.0,5.5,4.0,9.3,0.9,94.0,98.0,...,NaN,0.828995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-08,3,2018,6.0,5.5,4.0,9.3,0.9,94.0,98.0,...,NaN,0.622160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-08,3,2018,6.0,5.5,4.0,9.3,0.9,94.0,98.0,...,NaN,0.956829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [358]:
itk_SD_mn = itk_SD.merge(m_ntraj, on=('Bande', 'Date'))
itk_PN_mn = itk_PN.merge(m_ntraj, on=('Bande', 'Date'))
itk_BI_mn = itk_BI.merge(m_ntraj, on=('Bande', 'Date'))
itk_Bio_mn = itk_Bio.merge(m_ntraj, on=('Bande', 'Date'))
itk_Elev_mn = itk_Elev.merge(m_ntraj, on=('Bande', 'Date'))
itk_ref_mn = itk_ref.merge(m_ntraj, on=('Bande', 'Date'))

In [359]:
itk_SD_mn

,Culture princ.,Année_x,Date,Semaine,Peuplement,Type d'opération,Type_1,Quantité_1,Unité_1,% concerné_1,...,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
0,Blé,2017-2018,2018-03-06,10.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blé,2017-2018,2018-03-27,13.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Blé,2017-2018,2018-03-27,13.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,NaN,NaN,NaN,NaN,719.0,1.34,24.94,3.06
3,Blé,2017-2018,2018-04-29,17.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Blé,2017-2018,2018-05-12,19.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,31.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Escourgeon,2018-2019,2018-10-16,42.0,IC peu développées,OC_Semis,Semoir Semeato,1,ha,1.00,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Escourgeon,2018-2019,2018-10-17,42.0,Escourgeon,OC_Travail,Crosskillettes roulage 6m – tract 130 ch,1,ha,1.00,...,0.404491,1.578319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Escourgeon,2018-2019,2019-02-16,7.0,Escourgeon,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Escourgeon,2018-2019,2019-03-14,11.0,Escourgeon,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Colza,2019-2020,2020-02-06,6.0,Colza,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Colza,2019-2020,2020-02-18,8.0,Colza,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Colza,2019-2020,2020-02-18,8.0,Colza,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,5.865780,3.297825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Colza,2019-2020,2020-03-09,11.0,Colza,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Blé,2020-2021,2021-02-17,8.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Blé,2020-2021,2021-03-10,11.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Blé,2020-2021,2021-05-06,19.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,1.00,...,NaN,NaN,58.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [360]:
## On ajoute un suffixe aux colonnes pour savoir de quoi il s'agit une fois qu'on va merge

# itk_SD = itk_SD.rename(columns=lambda x : x+('_ACS'))
# itk_SD = itk_SD.rename(columns={"Date_ACS" : "Date"})

# itk_PN = itk_PN.rename(columns=lambda x : x+('_PN'))
# itk_PN = itk_PN.rename(columns={"Date_PN" : "Date"})

# itk_ref = itk_ref.rename(columns=lambda x : x+('_ref'))
# itk_ref = itk_ref.rename(columns={"Date_ref" : "Date"})

# itk_BI = itk_BI.rename(columns=lambda x : x+('_BI'))
# itk_BI = itk_BI.rename(columns={"Date_BI" : "Date"})

# itk_Bio = itk_Bio.rename(columns=lambda x : x+('_Bio'))
# itk_Bio = itk_Bio.rename(columns={"Date_Bio" : "Date"})

# itk_Elev = itk_Elev.rename(columns=lambda x : x+('_Elev'))
# itk_Elev = itk_Elev.rename(columns={"Date_Elev" : "Date"})

# itk_merge1 = itk_SD.merge(itk_PN, on="Date", how="left")
# itk_merge2 = itk_merge1.merge(itk_BI, on="Date", how="left")
# itk_merge3 = itk_merge2.merge(itk_Bio, on="Date", how="left")
# itk_merge4 = itk_merge3.merge(itk_Elev, on="Date", how="left")
# itk_merge = itk_merge4.merge(itk_ref, on="Date", how="left")

## pas très pratique car on doit multiplier le nombre et le nom des colonnes pour chaque bande plutôt que d'avoir bande en argument, 
## mais je garde dans un coin si jamais ça devait s'avérer utile.

In [361]:
itk_concat = pd.concat([itk_SD_mn,itk_PN_mn, itk_BI_mn, itk_Bio_mn, itk_Elev_mn, itk_ref_mn], axis=0)

In [362]:
itk_concat.sort_values(by='Date', inplace=True)
itk_concat.reset_index(drop=True,inplace=True)

In [363]:
meteo.shape

(1749, 11)

In [364]:
data = itk_concat

In [365]:
data.shape

(87, 36)

In [366]:
data.head(10)

,Culture princ.,Année_x,Date,Semaine,Peuplement,Type d'opération,Type_1,Quantité_1,Unité_1,% concerné_1,...,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
0,Blé,2017-2018,2018-03-06,10.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blé,2017-2018,2018-03-14,11.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1.0,ha,0.96,...,2.110141,2.088998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Blé,2017-2018,2018-03-14,11.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1.0,ha,0.96,...,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Blé,2017-2018,2018-03-14,11.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1.0,ha,0.96,...,2.372433,2.568827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Blé,2017-2018,2018-03-14,11.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1.0,ha,0.96,...,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Blé,2017-2018,2018-03-16,11.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Blé,2017-2018,2018-03-27,13.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Blé,2017-2018,2018-03-27,13.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1,ha,0.96,...,NaN,NaN,NaN,NaN,NaN,NaN,882.12,0.26,99.04,0.32
8,Blé,2017-2018,2018-03-27,13.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1.0,ha,0.96,...,NaN,NaN,NaN,NaN,NaN,NaN,1004.26,0.88,90.68,0.44
9,Blé,2017-2018,2018-03-27,13.0,Blé,OC_Engrais,ép. Engrais_min_liquide – Pulve 3400 litres,1.0,ha,0.96,...,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### NLP

Un peu de traitement de langage pour enlever les accents, raccourcir les expressions et rendre le tout plus lisible

In [367]:
data.dtypes

Culture princ.                                string
Année_x                                       string
Date                                  datetime64[ns]
Semaine                                      float64
Peuplement                                    string
Type d'opération                              string
Type_1                                        string
Quantité_1                                    object
Unité_1                                       string
% concerné_1                                 float64
Bande                                         object
Mois                                           int64
Année_y                                        int64
Temp moyenne (°C)                            float64
Pluie (mm)                                   float64
Temp min                                     float64
Temp max                                     float64
ETP Penman (mm)                              float64
Humidité moyenne (%)                         float64
Humidité max (%)                             float64
Humidité min (%)                             float64
%H - h1                                      float64
%H - h2                                      float64
NO3 Sol - h1\nkgN.ha-1                       float64
NO3 Sol - h2\nkgN.ha-1                       float64
NH4 Sol - h1\nkgN.ha-1                       float64
NH4 Sol - h2\nkgN.ha-1                       float64
N2O gN.ha-1.j-1                              float64
Fertilisation (kgN.ha-1)                     float64
N biomasse aérienne\n (KgN.ha-1)             float64
INN ou N Tester                              float64
INN ou N Tester ZéroN                        float64
PRS N-NO3\n(µg.10cm-2.14j-1)                 float64
PRS N-NH4\n(µg.10cm-2.14j-1)                 float64
PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1)           float64
PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)           float64
dtype: object

In [368]:
data["Bande"] = data["Bande"].astype("string")

In [292]:
import string
from unidecode import unidecode

data["Culture princ."] = data["Culture princ."].apply(unidecode)
data["Culture princ."] = data["Culture princ."].apply(str.lower)

data["Culture princ."] = data["Culture princ."].astype("string")

In [369]:
str_col = data.select_dtypes(include=['string']).columns

In [370]:
str_col

Index(['Culture princ.', 'Année_x', 'Peuplement', 'Type d'opération', 'Type_1',
       'Unité_1', 'Bande'],
      dtype='object')

In [371]:
data[str_col].replace(' ', '_', regex=True)

,Culture princ.,Année_x,Peuplement,Type d'opération,Type_1,Unité_1,Bande
0,Blé,2017-2018,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,ACS
1,Blé,2017-2018,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,PN
2,Blé,2017-2018,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,PN
3,Blé,2017-2018,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,Ref
4,Blé,2017-2018,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,Ref
...,...,...,...,...,...,...,...
82,Blé_,2020-2021,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,ACS
83,Blé_,2020-2021,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,PN
84,Blé_,2020-2021,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,Elev
85,Blé_,2020-2021,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,BI
86,Blé_,2020-2021,Blé,OC_Engrais,ép._Engrais_min_liquide_–_Pulve_3400_litres,ha,Ref

In [375]:
data[str_col] = data[str_col].apply((lambda x: x.str.lower()), axis=1)

In [373]:
for x in str_col:
    data[x] = data[x].apply(unidecode)

In [383]:
data["Type_1"].unique()

array(['ep. engrais_min_liquide - pulve 3400 litres',
       'lisier valmat terra gattor', 'labour 5 corps - tract 130 ch',
       'semis comb. semoir/herse rotative/tasse avant(rouleau) 3m - tract 110 ch',
       'semoir semeato', 'crosskillettes roulage 6m - tract 130 ch',
       'ep. engrais_min_solide 9m - dp9', 'roulage 9m - tract 130 ch',
       'labour 8 corps',
       'dechaumage chizel (cultivateur 4,5m) - tract 180 ch',
       'lisier valmat pendillart'], dtype=object)