In [2]:
import pandas as pd
import datetime 
import matplotlib.pyplot as plt
import numpy as np

In [3]:
meteo = pd.read_excel("meteo_2017_2022.xlsx")
itk_SD = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="SD")
itk_PN = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="PN")
itk_ref = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="Ref")
itk_BI = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="BasInt")
itk_Bio = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="Bio")
itk_Elev = pd.read_excel("ITK_TrajectOire.xlsx", sheet_name="Elev")
ntraj = pd.read_excel("Data_NTraj.xlsx")

In [4]:
meteo.head()

,Date,Mois,Année,Temp moyenne (°C),Pluie (mm),Temp min,Temp max,ETP Penman (mm),Humidité moyenne (%),Humidité max (%),Humidité min (%)
0,2017-09-15,9,2017,11.2,0.0,7.6,16.5,2.3,84.0,99.0,56.0
1,2017-09-16,9,2017,10.7,1.0,4.8,15.6,1.6,86.0,100.0,57.0
2,2017-09-17,9,2017,11.3,3.0,9.4,15.7,1.5,89.0,100.0,66.0
3,2017-09-18,9,2017,10.5,9.0,4.4,17.1,1.6,91.0,100.0,70.0
4,2017-09-19,9,2017,11.7,2.0,9.2,16.8,1.7,88.0,99.0,60.0

In [5]:
itk_SD.head()

,Culture princ.,Année,Date,Semaine,Peuplement,Type d'opération,Type_1,Info complémentaire 1,Quantité_1,Unité_1,...,Unité_3,% concerné_3,Type_4,Quantité_4,Unité_4,% concerné_4,Type_5,Quantité_5,Unité_5,% concerné_5
0,Blé,2017-2018,2017-10-05 00:00:00,40.0,Sol nu,OC_Semis,Semoir Semeato,Semé par Christian,1,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blé,2017-2018,2017-10-05 00:00:00,40.0,Sol nu,Ajout_semence,Traité,Boregar,220,gr./m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Blé,2017-2018,2017-10-05 00:00:00,40.0,Sol nu,Ajout_phyto,Traitement de semence,Gaucho,NaN,Dose hom.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Blé,2017-2018,2017-10-08 00:00:00,40.0,Sol nu,OC_Travail,Roulage 9m – tract 130 ch,NaN,1,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Blé,2017-2018,2017-10-31 00:00:00,44.0,Blé,OC_Autre,Traitement phyto - Pulve 3400 litres,NaN,1,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
ntraj.head()

,Bande,Date,%H - h1,%H - h2,NO3 Sol - h1\nkgN.ha-1,NO3 Sol - h2\nkgN.ha-1,NH4 Sol - h1\nkgN.ha-1,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
0,Elev8,2017-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACS,2018-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Toutes,2018-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Toutes,2018-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACS,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,13.119371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(meteo.shape)
print(itk_SD.shape)
print(ntraj.shape)

(1749, 11)
(1036, 31)
(2871, 17)

### ITK

In [8]:
itk_SD.tail()

,Culture princ.,Année,Date,Semaine,Peuplement,Type d'opération,Type_1,Info complémentaire 1,Quantité_1,Unité_1,...,Unité_3,% concerné_3,Type_4,Quantité_4,Unité_4,% concerné_4,Type_5,Quantité_5,Unité_5,% concerné_5
1031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Beaucoup de NA en fin de tableau car en remplissant ses excels Mr Python a mit des valeurs nulles/NA jusqu'à très loin, on va enlever les rangées pleines de NA

In [9]:
itk_SD.dropna(how="all", inplace=True)
itk_PN.dropna(how="all", inplace=True)
itk_BI.dropna(how="all", inplace=True)
itk_Bio.dropna(how="all", inplace=True)
itk_Elev.dropna(how="all", inplace=True)
itk_ref.dropna(how="all", inplace=True)

il reste des lignes remplies de NA sauf sur une colonne dans itk_SD, on les enlève à la main

In [10]:
itk_SD = itk_SD.iloc[:189]

In [11]:
print(itk_SD.Date.dtypes)
itk_SD["Date"] = itk_SD["Date"].astype("string")
print(itk_SD.shape)

object
(189, 31)

Il y a une date inconnue dans itk_SD notée xx, on la retire car elle pose problème (pas de type datetime)

In [12]:
itk_SD.drop(itk_SD.loc[itk_SD['Date']=="xx/07/18"].index, inplace=True)

In [13]:
print(itk_SD.shape)
print(itk_SD.Date.dtypes)
itk_SD["Date"] = itk_SD["Date"].astype("datetime64")
print(itk_SD.Date.dtypes)

(185, 31)
string
datetime64[ns]

In [14]:
print(itk_SD.shape)
print(itk_PN.shape)
print(itk_BI.shape)
print(itk_Bio.shape)
print(itk_Elev.shape)
print(itk_ref.shape)

(185, 31)
(167, 31)
(118, 31)
(53, 28)
(169, 31)
(162, 31)

J'ai checké ces tailles sur Excel et elles correspondent bien au nombre de lignes remplies.

In [15]:
# On indique le nom des bandes pour pouvoir savoir à quoi elles correspondent une fois qu'on va merge par dates

itk_SD["Bande"] = "acs"
itk_PN["Bande"] = "pn"
itk_BI["Bande"] = "bi"
itk_Bio["Bande"] = "bio"
itk_Elev["Bande"] = "elev"
itk_ref["Bande"] = "ref"

Dose d'azote, nature de l'engrais (lisier ou minéral, solution azotée), date d'apport de l'engrais + si possible travail du sol.

In [16]:
itk_concat = pd.concat([itk_SD, itk_PN, itk_BI, itk_Bio, itk_Elev, itk_ref], axis=0)

In [17]:
print(itk_SD.shape[0] + itk_PN.shape[0] + itk_BI.shape[0] + itk_Bio.shape[0] + itk_Elev.shape[0] + itk_ref.shape[0])
print(itk_concat.shape)

854
(854, 32)

In [18]:
itk_concat.columns

Index(['Culture princ.', 'Année', 'Date', 'Semaine', 'Peuplement',
       'Type d'opération', 'Type_1', 'Info complémentaire 1', 'Quantité_1',
       'Unité_1', '% concerné_1', 'Remarques générales', 'Matière active',
       'Dose MA/ha', 'Unité Ma/ha', 'Type_2', 'Quantité_2', 'Unité_2',
       '% concerné_2', 'Type_3', 'Quantité_3', 'Unité_3', '% concerné_3',
       'Type_4', 'Quantité_4', 'Unité_4', '% concerné_4', 'Type_5',
       'Quantité_5', 'Unité_5', '% concerné_5', 'Bande'],
      dtype='object')

In [19]:
## On retire les colonnes vides/inutiles des itk
itk_concat.drop(itk_concat.columns[11:-1], axis=1, inplace=True)

Année est considérée comme un str à cause du -, on l'enlève car de toute façon l'info est dans la date.

In [20]:
itk_concat.drop("Année", axis=1, inplace=True)

In [21]:
itk_concat.dtypes

Culture princ.                   object
Date                     datetime64[ns]
Semaine                         float64
Peuplement                       object
Type d'opération                 object
Type_1                           object
Info complémentaire 1            object
Quantité_1                       object
Unité_1                          object
% concerné_1                    float64
Bande                            object
dtype: object

checker les valeurs de semaine

Quantité devrait être un float, il faut le convertir. Seulement il y a des valeurs manquantes et il est compliqué de les remplacer. Egalement, comme toutes les quantités ne sont pas sur la même unité et ne correspondent pas au même produit, il faudrait pouvoir faire comprendre ça à l'algo ? --> on utilise les uN pour l'engrais, le reste on laisse tomber

In [22]:
## Changement du type object en type str pour en faciliter le traitement (regex, split)

itk_concat[itk_concat.select_dtypes("object").columns] = itk_concat[itk_concat.select_dtypes("object").columns].astype("string")

In [23]:
itk_concat["Info complémentaire 1"]

0                          Semé par Christian
1                                     Boregar
2                                      Gaucho
3                                        <NA>
4                                        <NA>
                        ...
157     Aliseo Gold Safeneur (S-métolachlore)
158                Dakota P (Diméthénamide P)
159                 Dakota P (Pendiméthaline)
1009                                     <NA>
1010                          Rendement à 9°H
Name: Info complémentaire 1, Length: 854, dtype: string

In [24]:
test = itk_concat[~itk_concat["Info complémentaire 1"].isnull()]
test["Info complémentaire 1"].str.contains("uN")

0       False
1       False
2       False
5       False
6       False
        ...
156     False
157     False
158     False
159     False
1010    False
Name: Info complémentaire 1, Length: 519, dtype: boolean

10% des valeurs ne correspondent pas à des floats.

Pour l'instant on retire ces infos pour faire une première version prétraitée. A voir si on les rajoute avec l'expert.

In [25]:
itk_concat.drop(["Quantité_1"], axis=1, inplace=True)
itk_concat.drop(["Unité_1"], axis=1, inplace=True)
itk_concat.drop(["% concerné_1"], axis=1, inplace=True)

In [26]:
itk_concat.tail()

,Culture princ.,Date,Semaine,Peuplement,Type d'opération,Type_1,Info complémentaire 1,Bande
157,Maïs,2022-04-23,17.0,Maïs,Ajout_phyto,Herbicides,Aliseo Gold Safeneur (S-métolachlore),ref
158,Maïs,2022-04-23,17.0,Maïs,Ajout_phyto,Herbicides,Dakota P (Diméthénamide P),ref
159,Maïs,2022-04-23,17.0,Maïs,Ajout_phyto,Herbicides,Dakota P (Pendiméthaline),ref
1009,Colza,2020-07-21,30.0,Colza,OC_Autre,Moisson – moissonneuse 260 ch,<NA>,ref
1010,Colza,2020-07-21,30.0,Colza,Récolte,Grain,Rendement à 9°H,ref

In [27]:
itk_concat.dtypes

Culture princ.                   string
Date                     datetime64[ns]
Semaine                         float64
Peuplement                       string
Type d'opération                 string
Type_1                           string
Info complémentaire 1            string
Bande                            string
dtype: object

In [28]:
# On retire les informations inutiles/répétitives

itk_concat = itk_concat[~itk_concat["Type d'opération"].str.contains("Ajout|Autre")]
itk_concat = itk_concat.drop("Info complémentaire 1", axis=1)
itk_concat.sort_values(by='Date', inplace=True)
itk_concat.reset_index(drop=True,inplace=True)

Les 2 dernières dates sont non existantes, on enlève ces lignes.

In [29]:
itk_concat = itk_concat.iloc[:-2]

In [30]:
itk_concat.tail()

,Culture princ.,Date,Semaine,Peuplement,Type d'opération,Type_1,Bande
223,Maïs,2022-04-22,17.0,Résidus,OC_Engrais,Ep. engrais_min_solide 9m - DP9,bio
224,Maïs,2022-04-23,17.0,Sol nu,OC_Travail,Herse rotative 4m – tract 130 ch,bio
225,Maïs,2022-04-23,17.0,Résidus,OC_Travail,Labour 5 corps – tract 130 ch,bio
226,Maïs,2022-04-25,18.0,Résidus,OC_Semis,Semoir SD Come Morize,acs
227,<NA>,2022-05-05,19.0,Sol nu,OC_Semis,Semis comb. Semoir/Herse rotative/Tasse avant(...,bio

On remarque aussi qu'on a une entrée avec date mais sans mention de la culture principale, on va regarder si on a des infos sur cette bande autour de cette date pour compléter.

In [31]:
itk_Bio[itk_Bio["Date"] ==" 2022-05-05"]

## A priori on est sur du Maïs vu l'info complémentaire, on va checker les dates autour

,Culture princ.,Année,Date,Semaine,Peuplement,Type d'opération,Type_1,Info complémentaire 1,Quantité_1,Unité_1,...,% concerné_3,Type_4,Quantité_4,Unité_4,% concerné_4,Type_5,Quantité_5,Unité_5,% concerné_5,Bande
51,NaN,NaN,2022-05-05,19.0,Sol nu,OC_Semis,Semis comb. Semoir/Herse rotative/Tasse avant(...,NaN,1.0,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio
52,NaN,NaN,2022-05-05,19.0,Sol nu,Ajout_semence,Non traité,Maïs P9610,9.6,gr./m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio

In [32]:
itk_Bio[itk_Bio["Date"] < "2022-05-05"].tail()

,Culture princ.,Année,Date,Semaine,Peuplement,Type d'opération,Type_1,Info complémentaire 1,Quantité_1,Unité_1,...,% concerné_3,Type_4,Quantité_4,Unité_4,% concerné_4,Type_5,Quantité_5,Unité_5,% concerné_5,Bande
45,Maïs,2021-2022,2022-04-22,17.0,Résidus,OC_Engrais,Ep. engrais_min_solide 9m - DP9,NaN,NaN,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio
46,Maïs,2021-2022,2022-04-22,17.0,Résidus,Ajout_engrais,Engrais organique,NaN,800.0,kg/ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio
47,Maïs,2021-2022,2022-04-23,17.0,Résidus,OC_Autre,"Broyage 3,6m – tract 130 ch",NaN,1.0,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio
48,Maïs,2021-2022,2022-04-23,17.0,Résidus,OC_Travail,Labour 5 corps – tract 130 ch,NaN,1.0,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio
49,Maïs,2021-2022,2022-04-23,17.0,Sol nu,OC_Travail,Herse rotative 4m – tract 130 ch,NaN,1.0,ha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bio

In [33]:
itk_concat.at[227,"Culture princ."] = "Maïs"

In [34]:
itk_concat.tail()

,Culture princ.,Date,Semaine,Peuplement,Type d'opération,Type_1,Bande
223,Maïs,2022-04-22,17.0,Résidus,OC_Engrais,Ep. engrais_min_solide 9m - DP9,bio
224,Maïs,2022-04-23,17.0,Sol nu,OC_Travail,Herse rotative 4m – tract 130 ch,bio
225,Maïs,2022-04-23,17.0,Résidus,OC_Travail,Labour 5 corps – tract 130 ch,bio
226,Maïs,2022-04-25,18.0,Résidus,OC_Semis,Semoir SD Come Morize,acs
227,Maïs,2022-05-05,19.0,Sol nu,OC_Semis,Semis comb. Semoir/Herse rotative/Tasse avant(...,bio

### Ntraj

In [35]:
print("Nombre de valeurs de N2O enregistrées : " + str(sum(ntraj["N2O gN.ha-1.j-1"].isna() == False)))

Nombre de valeurs de N2O enregistrées : 484

In [36]:
# % de na par colonnes

ntraj.isna().sum(axis=0)/len(ntraj)

Bande                                 0.000000
Date                                  0.000000
%H - h1                               0.833856
%H - h2                               0.833856
NO3 Sol - h1\nkgN.ha-1                0.833856
NO3 Sol - h2\nkgN.ha-1                0.833856
NH4 Sol - h1\nkgN.ha-1                0.833856
NH4 Sol - h2\nkgN.ha-1                0.833856
N2O gN.ha-1.j-1                       0.831418
Fertilisation (kgN.ha-1)              0.972483
N biomasse aérienne\n (KgN.ha-1)      0.970742
INN ou N Tester                       0.881574
INN ou N Tester ZéroN                 0.927203
PRS N-NO3\n(µg.10cm-2.14j-1)          0.820272
PRS N-NH4\n(µg.10cm-2.14j-1)          0.820272
PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1)    0.969349
PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)    0.969349
dtype: float64

In [37]:
print(ntraj.Bande.dtypes)

## On passe Bande en str pour faciliter le traitement

ntraj["Bande"] = ntraj["Bande"].astype("string")
print(ntraj.Bande.dtypes)

object
string

In [38]:
print(ntraj.Bande.unique())
ntraj = ntraj.replace('REF', 'ref')
print(ntraj.Bande.unique())

<StringArray>
['Elev8', 'ACS', 'Toutes', 'BI', 'BIO', 'Elev', 'PN', 'Ref', 'XXX', 'Bio',
 'REF']
Length: 11, dtype: string
<StringArray>
['Elev8', 'ACS', 'Toutes', 'BI', 'BIO', 'Elev', 'PN', 'Ref', 'XXX', 'Bio',
 'ref']
Length: 11, dtype: string

In [39]:
## On va mettre les bandes XXX, Toutes et Elev8 à part pour le moment 

ntraj_XXX = ntraj[ntraj.Bande.str.contains("XXX")]
ntraj_Toutes = ntraj[ntraj.Bande.str.contains("Toutes")]
ntraj_Elev8 = ntraj[ntraj.Bande.str.contains("Elev8")]

ntraj = ntraj[~ntraj.Bande.str.contains("XXX|Toutes|Elev8")]

In [40]:
ntraj.head()

,Bande,Date,%H - h1,%H - h2,NO3 Sol - h1\nkgN.ha-1,NO3 Sol - h2\nkgN.ha-1,NH4 Sol - h1\nkgN.ha-1,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
1,ACS,2018-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACS,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,13.119371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BI,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,0.828995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BIO,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,0.622160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Elev,2018-03-08,NaN,NaN,NaN,NaN,NaN,NaN,0.956829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
print("Nombre de valeurs de N2O enregistrées : " + str(sum(ntraj["N2O gN.ha-1.j-1"].isna() == False)))

Nombre de valeurs de N2O enregistrées : 385

### Merging

In [42]:
m_ntraj = meteo.merge(ntraj, on="Date", how="outer")

In [43]:
m_ntraj

,Date,Mois,Année,Temp moyenne (°C),Pluie (mm),Temp min,Temp max,ETP Penman (mm),Humidité moyenne (%),Humidité max (%),...,NH4 Sol - h2\nkgN.ha-1,N2O gN.ha-1.j-1,Fertilisation (kgN.ha-1),N biomasse aérienne\n (KgN.ha-1),INN ou N Tester,INN ou N Tester ZéroN,PRS N-NO3\n(µg.10cm-2.14j-1),PRS N-NH4\n(µg.10cm-2.14j-1),PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1),PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)
0,2017-09-15,9,2017,11.2,0.0,7.6,16.5,2.3,84.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-09-16,9,2017,10.7,1.0,4.8,15.6,1.6,86.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-09-17,9,2017,11.3,3.0,9.4,15.7,1.5,89.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-09-18,9,2017,10.5,9.0,4.4,17.1,1.6,91.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-09-19,9,2017,11.7,2.0,9.2,16.8,1.7,88.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,2022-06-25,6,2022,15.9,1.0,15.2,17.3,2.6,81.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2700,2022-06-26,6,2022,16.6,0.0,11.7,21.9,4.4,69.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2701,2022-06-27,6,2022,17.1,0.5,11.4,23.5,4.9,66.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2702,2022-06-28,6,2022,19.0,0.0,9.9,26.0,5.7,58.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2703,2022-06-29,6,2022,18.2,3.0,10.9,24.8,4.9,65.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
print("Nombre de valeurs de N2O enregistrées : " + str(sum(m_ntraj["N2O gN.ha-1.j-1"].isna() == False)))

Nombre de valeurs de N2O enregistrées : 385

In [45]:
m_ntraj["Bande"].unique()

<StringArray>
[<NA>, 'ACS', 'BI', 'BIO', 'Elev', 'PN', 'Ref', 'Bio', 'ref']
Length: 9, dtype: string

### NLP

Un peu de traitement de langage pour enlever les accents, raccourcir les expressions et rendre le tout plus lisible

In [46]:
from unidecode import unidecode

In [47]:
def preprocess(df):
    str_col = df.select_dtypes(include=['string']).columns
    df[str_col] = df[str_col].replace(' ', '_', regex=True)
    df[str_col] = df[str_col].apply((lambda x: x.str.lower()), axis=1)
    for x in str_col:
        df[x] = df[x].apply(unidecode)
    return(df)

itk_concat = preprocess(itk_concat)
ntraj = preprocess(ntraj)

In [48]:
itk_concat["Type_1"].unique() ## à traiter plus tard

array(['semoir_semeato',
       'semis_comb._semoir/herse_rotative/tasse_avant(rouleau)_3m_-_tract_110_ch',
       'labour_5_corps_-_tract_130_ch', 'roulage_9m_-_tract_130_ch',
       'labour_8_corps', 'ep._engrais_min_liquide_-_pulve_3400_litres',
       'ep._engrais_min_solide_24m_-_tract_130_ch',
       'semoir_centrifuge_-_quad', 'grain', 'semoir_sd_come_morize',
       'carrier', 'dechaumage_chizel_(cultivateur_4,5m)_-_tract_180_ch',
       'lisier_valmat_terra_gattor',
       'crosskillettes_roulage_6m_-_tract_130_ch',
       'ep._engrais_min_solide_9m_-_dp9', 'paille',
       'dechaumage_(cover_crop_36_disques)_-_tract_130_ch',
       'semoir_de_precision_terre_inovia', 'herse_etrille_tract_100_ch',
       'vibroculteur_6m_-_tract_130_ch', 'labour_4_corps_-_tract_130_ch',
       'ep._fumier_10_tonnes_-_tract_120_ch', 'lisier_valmat_pendillart',
       'herse_rotative_4m_-_tract_130_ch'], dtype=object)

travail ou pas travail, identification des outils --> roulage tasse, mais retenir labour, déchaumage, il faut bien identifier ce qui correspond à un travail du sol. Travail du sol + météo vont jouer sur WFPS (vie dans le sol). Effet des précipitations : qlq semaines/jours ? A tester.

On va discuter de l'importance de ces informations avec l'expert, pour le moment je les retire pour simplifier les choses mais il faudra sûrement repasser dessus.

In [49]:
itk_concat.drop("Type_1", axis=1, inplace=True)

In [50]:
print(itk_concat["Culture princ."].unique()) ## petit soucis avec ble et ble_, on va retirer le _ 

itk_concat = itk_concat.replace('ble_', 'ble')

print(itk_concat["Culture princ."].unique())

['ble' 'escourgeon' 'triticale' 'orge_de_printemps' 'colza' 'feverolle'
 'ble_' 'mais']
['ble' 'escourgeon' 'triticale' 'orge_de_printemps' 'colza' 'feverolle'
 'mais']

### Tableau final

In [51]:
print(itk_concat["Date"][0])
print(itk_concat["Date"][0]-datetime.timedelta(days=7))
print(meteo[meteo.Date==itk_concat["Date"][0]-datetime.timedelta(days=7)]["Temp moyenne (°C)"])

2017-10-05 00:00:00
2017-09-28 00:00:00
13    17.4
Name: Temp moyenne (°C), dtype: float64

In [52]:
m_ntraj.columns

Index(['Date', 'Mois', 'Année', 'Temp moyenne (°C)', 'Pluie (mm)', 'Temp min',
       'Temp max', 'ETP Penman (mm)', 'Humidité moyenne (%)',
       'Humidité max (%)', 'Humidité min (%)', 'Bande', '%H - h1', '%H - h2',
       'NO3 Sol - h1\nkgN.ha-1', 'NO3 Sol - h2\nkgN.ha-1',
       'NH4 Sol - h1\nkgN.ha-1', 'NH4 Sol - h2\nkgN.ha-1', 'N2O gN.ha-1.j-1',
       'Fertilisation (kgN.ha-1)', 'N biomasse aérienne\n (KgN.ha-1)',
       'INN ou N Tester', 'INN ou N Tester ZéroN',
       'PRS N-NO3\n(µg.10cm-2.14j-1)', 'PRS N-NH4\n(µg.10cm-2.14j-1)',
       'PRS N-NO3 ZéroN\n(µg.10cm-2.14j-1)',
       'PRS N-NH4 ZéroN\n(µg.10cm-2.14j-1)'],
      dtype='object')

In [53]:
itk_concat.columns

Index(['Culture princ.', 'Date', 'Semaine', 'Peuplement', 'Type d'opération',
       'Bande'],
      dtype='object')

On veut un data frame avec pour chaque valeur de N20 enregistrée:
- la valeur en question
- valeur cumulée sur J-X 
- valeur de NO3 mesurée sur les 2 profondeurs H1 et H2
- valeur de NH4 mesurée sur les 2 profondeurs H1 et H2
- INN 
- humidité sur les 2 profondeurs H1 et H2
- température sur le jour du pic
- humidité de l'air sur le jour du pic
- pluie sur le jour du pic
- type de culture
- peuplement
- bande
- les valeurs météorologiques et techniques sur J-X 
    - valeur de NO3 mesurée sur les 2 profondeurs H1 et H2
    - valeur de NH4 mesurée sur les 2 profondeurs H1 et H2
    - INN
    - humidité sur les 2 profondeurs H1 et H2
    - température sur le jour 
    - humidité de l'air sur le jour
    - pluie sur le jour

In [54]:
ntraj_peak = ntraj[~ntraj["N2O gN.ha-1.j-1"].isna()]
ntraj_peak.shape

(385, 17)

In [55]:
ntraj_peak.reset_index(drop=True, inplace=True)

In [56]:
dataf = pd.DataFrame()

In [57]:
meteo

,Date,Mois,Année,Temp moyenne (°C),Pluie (mm),Temp min,Temp max,ETP Penman (mm),Humidité moyenne (%),Humidité max (%),Humidité min (%)
0,2017-09-15,9,2017,11.2,0.0,7.6,16.5,2.3,84.0,99.0,56.0
1,2017-09-16,9,2017,10.7,1.0,4.8,15.6,1.6,86.0,100.0,57.0
2,2017-09-17,9,2017,11.3,3.0,9.4,15.7,1.5,89.0,100.0,66.0
3,2017-09-18,9,2017,10.5,9.0,4.4,17.1,1.6,91.0,100.0,70.0
4,2017-09-19,9,2017,11.7,2.0,9.2,16.8,1.7,88.0,99.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
1744,2022-06-25,6,2022,15.9,1.0,15.2,17.3,2.6,81.0,95.0,65.0
1745,2022-06-26,6,2022,16.6,0.0,11.7,21.9,4.4,69.0,96.0,42.0
1746,2022-06-27,6,2022,17.1,0.5,11.4,23.5,4.9,66.0,97.0,31.0
1747,2022-06-28,6,2022,19.0,0.0,9.9,26.0,5.7,58.0,98.0,29.0
1748,2022-06-29,6,2022,18.2,3.0,10.9,24.8,4.9,65.0,95.0,37.0

In [58]:
for idx,value in zip(ntraj_peak.index, ntraj_peak["N2O gN.ha-1.j-1"]):
    data = dict()
    doi = ntraj_peak.at[idx, "Date"]
    bande = ntraj_peak.at[idx, "Bande"]

    data["N20"] = value
    data["Date"] = doi
    data["Bande"] = bande

    # données ntraj
    ntraj_bande = ntraj[ntraj["Bande"] == bande]
    data["soilH_H1"] = ntraj_bande[ntraj_bande["Date"]==doi]["%H - h1"]
    data["soilH_H2"] = ntraj_bande[ntraj_bande["Date"]==doi]["%H - h2"]
    data["NO3_H1"] = ntraj_bande[ntraj_bande["Date"]==doi]["NO3 Sol - h1\nkgN.ha-1"]
    data["NO3_H2"] = ntraj_bande[ntraj_bande["Date"]==doi]["NO3 Sol - h2\nkgN.ha-1"]
    data["NH4_H1"] = ntraj_bande[ntraj_bande["Date"]==doi]["NH4 Sol - h1\nkgN.ha-1"]
    data["NH4_H2"] = ntraj_bande[ntraj_bande["Date"]==doi]["NH4 Sol - h2\nkgN.ha-1"]
    #data["INN"] = ntraj_bande[ntraj_bande["Date"]==doi]["INN ou N Tester"]

    # données météo
    data["meanTP"] = meteo[meteo["Date"]==doi]["Temp moyenne (°C)"]
    data["airH"] = meteo[meteo["Date"]==doi]["Humidité moyenne (%)"]
    data["pluie"] = meteo[meteo["Date"]==doi]["Pluie (mm)"]
    
    df_data = pd.DataFrame(data)
    dataf = pd.concat([dataf, df_data], axis=0)

In [157]:
def rolling_by(df_table : object, name_col : list, delta : int = 1, aggr : object =  lambda x: x.mean()) -> object:
    """
    Input :
        - df_table : input dataframe 
        - name_col : list of the columns that we are targetting
            ex : ['Temp moyenne (°C)', 'Pluie (mm)']
        - delta : Number of days for the rolling
        - aggr : Aggregation function (mean, sum ...) 
    Output :
        - Dataframe rolled over the delta day windows and aggregated by aggr.
    """
    # Get first column with the format datetime64
    try :
        date_col = df_table.select_dtypes(include="datetime64").columns[0]
    except IndexError :
        print("There is no datetime column")
        return IndexError

    name_col.insert(0,date_col)
    return (df_table[name_col].sort_index().rolling(window=delta, on=date_col).apply(aggr))

# df_test = pd.DataFrame(np.random.randint(1,100,size=(30, 4)), columns=list('ABCD'))
rolling_by(meteo, ['Temp moyenne (°C)', 'Pluie (mm)'], 5, lambda x: x.sum()) 
# Pas pertinant mais juste pour l'exemple et après on peut merge le df avec notre table principale sur les jours
# Faudra juste faire attention à renommer les colonnes de l'output (on peut intégrer ça à la fonction)

There is no datetime column

IndexError